[project]
	description = A comprehensive list of pytorch related content on github,such as different models,implementations,helper libraries,tutorials etc.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xiaozan-dev
[access "refs/for/refs/*"]
	read = group user/xiaozan-dev
	push = group user/xiaozan-dev
	label-Code-Review = -2..+2 group user/xiaozan-dev
	label-Verified = -1..+1 group user/xiaozan-dev
	rebase = group user/xiaozan-dev
	removeReviewer = group user/xiaozan-dev
	submit = group user/xiaozan-dev
[access "refs/heads/*"]
	read = group user/xiaozan-dev
	create = group user/xiaozan-dev
	push = +force group user/xiaozan-dev
	pushMerge = group user/xiaozan-dev
[access "refs/tags/*"]
	push = group user/xiaozan-dev
	push = +force group user/xiaozan-dev
